In [1]:
import pandas as pd
from tinydb import TinyDB 
import numpy as np
from sklearn.model_selection import train_test_split

## Preprocessando dados

In [2]:
db_content = TinyDB("db_17.json")
df = pd.DataFrame(db_content) # cria dataframe a partir do conteudo do arquivo do banco de dados

In [3]:
df #conferindo dataframe

      pir  ldr_1  ldr_2   temp  mic  led_on led_color   timestamp
0       1      0      1  19.48   91   False   unknown  1656450417
1       1      1      1  19.46   80   False   unknown  1656451619
2       1      1      1  19.44   82   False   unknown  1656452817
3       1      1      1  19.46   82   False   unknown  1656454017
4       0      1      1  19.18   81   False   unknown  1656455217
...   ...    ...    ...    ...  ...     ...       ...         ...
2537    0      0      1  19.46   91   False   unknown  1658061953
2538    1      0      1  19.46   90   False   unknown  1658062553
2539    1      0      1  19.42   83   False   unknown  1658063154
2540    1      0      1  19.48   80   False   unknown  1658063754
2541    1      0      1  19.57   78   False   unknown  1658064355

[2542 rows x 8 columns]

In [4]:
#df.drop(columns=df.columns[0], axis=1, inplace=True) # deleta primeira coluna
df.drop(columns=["led_color"], inplace=True) # nao se preocupa com cor nesse momento
df

      pir  ldr_1  ldr_2   temp  mic  led_on   timestamp
0       1      0      1  19.48   91   False  1656450417
1       1      1      1  19.46   80   False  1656451619
2       1      1      1  19.44   82   False  1656452817
3       1      1      1  19.46   82   False  1656454017
4       0      1      1  19.18   81   False  1656455217
...   ...    ...    ...    ...  ...     ...         ...
2537    0      0      1  19.46   91   False  1658061953
2538    1      0      1  19.46   90   False  1658062553
2539    1      0      1  19.42   83   False  1658063154
2540    1      0      1  19.48   80   False  1658063754
2541    1      0      1  19.57   78   False  1658064355

[2542 rows x 7 columns]

In [5]:
df["led_on"] = df["led_on"].apply(lambda x: np.random.choice([0,1])) # preenche coluna led_on com valores binarios randomicos
df # to check changes

      pir  ldr_1  ldr_2   temp  mic  led_on   timestamp
0       1      0      1  19.48   91       1  1656450417
1       1      1      1  19.46   80       0  1656451619
2       1      1      1  19.44   82       1  1656452817
3       1      1      1  19.46   82       1  1656454017
4       0      1      1  19.18   81       1  1656455217
...   ...    ...    ...    ...  ...     ...         ...
2537    0      0      1  19.46   91       0  1658061953
2538    1      0      1  19.46   90       0  1658062553
2539    1      0      1  19.42   83       0  1658063154
2540    1      0      1  19.48   80       0  1658063754
2541    1      0      1  19.57   78       1  1658064355

[2542 rows x 7 columns]

## Separando bases de treinamento e teste

In [8]:
train, test = train_test_split(df, test_size=0.2)
train.to_csv("train.csv", index=False)
test.to_csv("test.csv", index=False)

In [7]:
train, test

(      pir  ldr_1  ldr_2   temp  mic  led_on   timestamp
 2050    0      1      1  19.03   80       0  1657769471
 2118    1      0      1  19.44   80       1  1657810308
 515     0      1      1  19.59   80       0  1656816733
 595     1      0      1  19.81   80       0  1656864764
 764     0      0      1  18.94   71       1  1656966239
 ...   ...    ...    ...    ...  ...     ...         ...
 2484    0      1      1  19.64   85       0  1658030121
 860     0      0      1  18.57   83       1  1657024141
 1789    0      1      1  18.89   86       1  1657606681
 1014    0      0      1  19.03   80       0  1657117673
 784     0      1      1  19.09   89       1  1656978249

 [2033 rows x 7 columns],
       pir  ldr_1  ldr_2   temp  mic  led_on   timestamp
 538     0      1      1  19.59   85       0  1656830541
 1110    0      1      1  18.87   77       1  1657175865
 705     0      0      1  18.48   80       0  1656930812
 2115    0      0      1  19.24   86       0  1657808507
 81      0      1      1  19.09   81       0  1656536947
 ...   ...    ...    ...    ...  ...     ...         ...
 233     0      1      1  19.03   82       0  1656647379
 559     0      0      1  19.31   78       1  1656843149
 2439    0      0      1  19.73  127       0  1658003095
 2224    0      1      1  18.92   80       1  1657873967
 18      0      1      1  18.72   80       1  1656472017

 [509 rows x 7 columns])